[user]
	name = Sotetsu KOYAMADA
    email = koyamada-s@sys.i.kyoto-u.ac.jp
[core]
    editor = vi
[alias]
	sw = switch
	br = branch
	co = checkout
[push]
	default = current
[merge]
    ff = false
[pull]
    ff = only
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
